<section class="container-fluid">

	<div class="col-md-12 center-textimg movie-list-title">
		<h3>Movie List</h3>
		<h5>Criterio de busqueda: <mark><%= @selectedWord.name.upcase %></mark></h5>

		<div>
            Count:<span id="counter"> <%= @count %></span>
        </div>
	</div>


	<hr>
	<div id="main_container">
		<div class="col-md-1"></div>
		<% @findMovies.each do |movie| %>
			<div class="col-md-2 center-textimg">
				<img src=<%= movie.poster %> class="img-film img-thumbnail" 
					<% if movie.title === @filmCorrect.title %>
						data-winner="true"
					<% end %>
				> 
			</div>
		<% end %>
		<div class="col-md-1"></div>

		<div class="col-md-12 center-textimg">
			<pre><b>Pregunta:</b> <%= @wordQuestion.ask %> <%= @filmCorrect.year %>? <br><small>Por favor, click en la imagen cuya respuesta es correcta.</small></pre>
		</div>
	</div>
</section>
<!--<hr>
Pelicula elegida: <%= @filmCorrect.title %> 
<hr> -->

